@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');



/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF-DESCRIPTION: 'Poppins', sans-serif;
    --FF-HEADING: 'Open Sans', sans-serif;
    --FF-BUTTON: 'Open Sans', sans-serif;

    /* COLORS */
    --DARK-PURPLE: #674baf;
    --LIGHT-PURPLE: hsl(300, 69%, 71%);
    --FONT-COLOR: #FFF;
    --BUTTON-SHADOW: box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    --BUTTON-COLOR: #FFF;
    --BUTTON-FONT-COLOR: #684BB1;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    
}

body {
    background-color: var(--DARK-PURPLE);
    min-height: 100vh;
    margin: 0 auto;
}

h1 {
    font-family: var(--FF-HEADING);
    color: var(--FONT-COLOR);
}

p {
    font-family: var(--FF-DESCRIPTION);
    color: var(--FONT-COLOR);
}

.register {
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: var(--BUTTON-FONT-COLOR);
    background: #FFFFFF;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
    border-radius: 28px;
    margin: auto;
}

.register:hover{
    background-color: var(--LIGHT-PURPLE);
    color: var(--FONT-COLOR);
    cursor: pointer;
    transition: 500ms;
}

.icons img{
    border: 1.5px solid #fff;
    border-radius: 100%;
    padding: 10px;
}

.icons button {
    background: var(--DARK-PURPLE);
    border-radius: 100%;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
}
.icons button:hover {
    transition: 500ms;
    cursor: pointer;
    background-color: #FF52C1;
}

/* || FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--LIGHT-PURPLE); 
}

/* ||  MEDIA QUERIES   */
@media screen and (min-width: 375px){
    body{
        background-image: url('/images/bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;       
    }
    main {
        display: grid;
        justify-content: center;
    }
    .logo img {
        width: 120px;
        height: 19px;
        margin-top: 38.2px;
        margin-left: 40px;
    }    
    .mockupImage img {
        width: 280px;
        height: 193px;
        margin-top: 70px;
        margin-left: 40px;
        margin-right: 40px;
    }
    h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-top: 60px;
        text-align: center;
    }
    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        margin-top: 16px;
        margin-left: 36px;
        margin-right: 36px;
        text-align: center;
    }
    .register {
        margin-top: 24px;
        margin-left: 148px;
        margin-right: 148px;
        justify-content: center;
    }
    .icons {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 64px;
        gap: 1rem;
    }    
    
}

@media screen and (min-width: 750px){
    body {
        background-image: url('/images/bg-desktop.svg');
        background-repeat: no-repeat; 
        background-size: cover;
    }
    main {
        display: flex;
    }
    .logo img {
        width: 200px;
        height: 32px;
        margin-top: 64px;
        margin-left: 80px;
    }    
    .mockupImage img {
        width: 696px;
        height: 493px;
        margin-top: 136px;
        margin-left: 80px;

    }
    .text {
        margin-left: 8rem;
    }
    h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        margin-top: 168px;
        margin-right: 118px;
        margin-left: 20px;
        text-align: justify;
    }
    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        margin-top: 24px;
        margin-right: 85px;
        margin-left: 20px;
        text-align: justify;
    }
    .register {
        margin-top: 24px;
        margin-left: 20px;
    }
    .icons {
        list-style: none;
        display: flex;
        justify-content: right;
        margin-top: 24px;
        margin-right: 80px;        
        gap: 1rem;
    }
    
    .icons img{
        border: 1px solid #fff;
        border-radius: 100%;
        padding: 10px;
    }
}